{% extends "base.html" %}
{% block title %}<title>Announcements</title>{% endblock %}
{% set active_page = "announcements" %}

{% block content %}
  <!-- container for tablular structure: 1 row -->
<div class="container">
  <div class="row">
  
  <!-- column 1 -->
    <div class="col-sm-12">
      <h3>Announcements</h3>

  <p> <img src="{{url_for('static',filename='originations.png')}}" width = "425" height = "325" style =  "float: left" />

  <br>

  Displaying to the left are our 2022 Loan originations and new member totals for the months of
  January, February, and March. We have had a successful and profitable start to 2022 and see the next
  months only going up.
  <br>
  <br>
  We plan to have a successful year and have created new policies that are allowing our consumer
  lending specialists to work up applications and make calls faster. We also are now connected with
  a new phone company so we have cordless phones and headsets, making it easier for our employees
  to do multiple tasks at once. We think this will help raise our productivity levels tremendously and 
  also help to increase our originations and new member counts.

 </p>

 <p>
   <br>
   <br>
   Employee Layoffs:
   <br>
   Joe Turner
   <br>
   Emily Haynes
   <br>
   Sage Adams
   <br>
   <br>
 </p>
  <p> New Hires: </p>
<p>
    <img src="{{url_for('static',filename='samantha.png')}}" width = "200" height = "200" style =  "float: left" />
    <br>
  Samantha Harris is joining our lending team in April and will be bringing over her skills from
  TD Bank to Bilodeau Lending. Welcome Samantha! We are so excited to have you.
</p>
    
</p>
  </p>
    </div>
    
  </div>
</div>
{% endblock %}