{% extends "base.html" %}
{% block title %}<title>Announcements</title>{% endblock %}
{% set active_page = "announcements" %}

{% block content %}
  <!-- container for tablular structure: 1 row -->
<div class="container">
  <div class="row">
  
  <!-- column 1 -->
    <div class="col-sm-12">
      <h3>Announcements</h3>

  <p> <img src="{{url_for('static',filename='originations.png')}}" width = "425" height = "325" style =  "float: left" />

  <br>

  Displaying to the left are our 2022 Loan originations and new member totals for the months of
  January, February, and March. We have had a successful and profitable start to 2022 and see the next
  months only going up.

 </p>
  <p> </p>
    </div>
    
  </div>
</div>
{% endblock %}