{% extends "base.html" %}
{% block title %}<title>Insert a Record</title>{% endblock %}


<!-- if we have a message, display -->
{% if message %}
<div class="col-sm">
    <p> {{ message }} </p>
</div>
<!-- Otherwise, show the contact form -->
{% else %}
<!-- contact form -->
<div class="col-sm">
    <form method="post" action="">
        <div class="col-sm">
            <div class="row">
                <div class="col-sm-6 form-group">
                    <input class="form-control" id="name" name="fname" placeholder="First Name" type="text" required>
                </div>
                <div class="col-sm-6 form-group">
                    <input class="form-control" id="name" name="lname" placeholder="Last Name" type="text" required>
                </div>
                <div class="col-sm-6 form-group">
                    <input class="form-control" id="email" name="eaddress" placeholder="Email" type="email" required>
                </div>
            </div>
            <textarea class="form-control" id="comments" name="message" placeholder="Comment" rows="5"></textarea><br>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <button class="btn btn-info btn-lg" type="submit">Send</button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endif %}
</div>
</div>