{% extends "base.html" %}
{% block title %}<title>Documents</title>{% endblock %}
{% set active_page = "documents" %}

{% block content %}
<!-- container for tablular structure: 1 row & 1 column -->
<div class="container">
    <div class="row">
        <div class="col-sm">

            <!-- contact details -->

            <h3>Documents</h3>
            <p>
                <a href="https://1drv.ms/w/s!AufCvhhCwcGIuXUhsNDjfShcYKLk?e=wrso4n">Company Bylaws</a>
                <br>
                <a href="https://1drv.ms/w/s!AufCvhhCwcGIuXfHB6I9G_19wraP?e=Sn29t2">Meeting Minutes</a>
                <br>
                <a href="https://1drv.ms/w/s!AufCvhhCwcGIuXmQAy3V7OYn7jsV?e=5AZxG9">Non-Disclosure Agreement</a>
                <br>
            </p>
        
{% endblock %}