{% extends "base.html" %}
{% block title %}<title>Events</title>{% endblock %}
{% set active_page = "events" %}

{% block content %}

  <!-- container for tablular structure: 1 row -->
<div class="container">
  <div class="row">
  
  <!-- column 1 -->
    <div class="col-sm-12">
      <h3>Events</h3>
      <p>At Bilodeau Lending we love hosting events for our employees. We believe that 
        quality time together creates for better relationships and an overrall more enjoyable work experience.
        Below you can find our company wide events that are updated each month!
      </p>
      <br>
      <h4> This month </h4>

      <p>
        <br>
        Company Luncheon
        <br>
        When: March 22nd
        <br>
        Where: Rochester branch lunchroom
        <br>
        <br>

      </p>

      <p>
        Yankee Swap
        <br>
        When: March 25th
        <br>
        Where: Nashua branch lunchroom
        <br>
        <br>

      </p>


      <p>
        Charity Fundraiser
        <br>
        When: March 28th
        <br>
        Where: Riverhouse in Portsmouth, NH
        <br>
        <br>

      </p>

      <p>
        CEO Birthday Celebration
        <br>
        When: March 31st
        <br>
        Where: Flatbread Pizza in Portsmouth, NH
        <br>
        <br>

      </p>


    

    </div>
    
  </div>
</div>

  {% endblock %}