{% extends "base.html" %}
{% set active_page = "home" %}

{% block title %}<title>Home</title>{% endblock %}
{% block content %}
<!-- container for tablular structure: 1 row -->
<div class="container">
    <div class="row">

      <!-- column 1 -->
      <div class="col-sm-6">
        <h3>Welcome</h3>

        <p>At Bilodeau Lending we take pride in funding any of your needs. Whether it is a new home or a car we are always
          willing and eager to provide the financial support your need. We provide both secured and unsecured loans at a variety
          of different rates, so you are always getting the lowest monthly payments. We hold efficiency and excellence as our 
          highest priorities and always get back to our members within 24 hours. We offer refinances for your vehicles whether it be
          your car, jetski, boat, or trailer. We have the best team who wants to help.
        </p>
        <p> We take our members seriously and want to provide fast and easy service. You will never have to worry about talking
          to a machine with Bilodeau Lending. Here we have a personalized experience where you can speak with one of our representatives 
          for as long as you need. We are open 8am-5pm everyday and we are even open on Saturdays till 1pm! Come over to Bilodeau
          Lending and we can promise you that you will never be disappointed.

        </p> 
      </div>
      <div class="col-sm-6">

        <!-- column 2 -->

        <h3>News</h3>
        <p>Bilodeau Lending is the leading lending company in the New England area. We have average at having the highest
          weekly originations over all other lending companies in our area. We made it in New England's top 25 best places
          to work according to employees. We have the most skilled team which is why we are top winners in every competition
          category. We also have 3 of our employees for the month of February 2022, making it into the New England top 20
          most skilled consumer lending speciialists. We hope to have employees from Bilodeau Lending place in that ranking
          every month and we see it as a high possibility considering the skilled team we have.
        </p>
        <p>Our CEO Kate Bilodeau is among the most successful in the entire country. She has won best CEO 12 times
          for the New England area and has had numerous articles in Forbes, the New York Times, and the Washington
          Post. Her and her co-founder, Paige Bohlig have made it in the rnakings numerous times and will only
          contunue to soar, with all of their new members they have gained just in the first 3 months of 2022. 2022
          will be a successful year for Bilodeau Lending and they are looking forward to the accomplishments to come. </p>
      </div>
    </div>
  </div>
{% endblock %}